.search-panel {
    margin: 10px 0;
}

.search-panel .search-input {
    width: auto;
    flex-grow: 1;
    margin-right: 3px;
}

@media (max-width: 576px) {
  .search-panel {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search-panel .search-input {
    width: 90%;
  }
}